@{
    ViewData["Title"] = "Liên Hệ";
}

<h2 class="text-center">Thông Tin Liên Hệ</h2>
<div class="row mt-4">
    <div class="col-md-6">
        <h4>Địa chỉ:</h4>
        <p>123 Đường Tưởng Niệm, Phường Yên Tịnh, Quận Thiền, TP Hư Vô</p>

        <h4>Số điện thoại:</h4>
        <p>+84 911 320 884</p>

        <h4>Email:</h4>
        <p><a href="mailto:nguyenhuuphuctai2004@gmail.com">nguyenhuuphuctai2004@gmail.com</a></p>
    </div>

    <div class="col-md-6">
        <h4>Bản đồ Google Map</h4>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13203.853139397906!2d105.74608149541817!3d10.299479927605029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1743950747599!5m2!1svi!2s" 
                width="600" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</div>
